@font-face {
    font-family: 'Rooster';
    src: url(./fonts/Rooster.ttf);
}

@font-face {
    font-family: 'Roboto';
    src: url(./fonts/Roboto/Roboto-Thin.ttf);
}

:root {}


html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#container {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 100%;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
    width: 100%;
    height: 100%;
    background-image: url(./images/Tattoo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}


#signup-form {
    display: flex;
    flex-flow: column nowrap;
    flex: 2 0 0;
    width: auto;
    height: auto;
}

#header,
#form-body,
#form-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    padding-top: 0;
    padding-bottom: 2rem;
}

#header,
#form-footer {
    flex: 2 1 auto;
    width: auto;
    height: auto;


}

#form-body {
    flex: 1 1 auto;
    width: auto;
    height: auto;
}

h1 {
    color: black;
}

h2 {
    text-align: left;
    font-family: 'Roboto';
}

#bar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .6);
    width: 100%;
}



#logo {
    width: 100px;
    height: 90px;
}

h3 {
    color: rgba(240, 240, 240);
    font-family: 'Rooster';
    font-size: 3rem;
    margin: 0;
    padding: 0;
}